@model IEnumerable<DapperDemo2.Models.Employee>
@using Kendo.Mvc.UI;

<h1>Employees Management</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@(Html.Kendo().Grid<DapperDemo2.Models.Employee>(Model)
             .Name("grid")
             .Columns(columns =>
             {
                 columns.Select().Width(75);
                 columns.Bound(c => c.Name).Width(100).Title("Name"); ;
                 columns.Bound(c => c.Phone).Width(200).Title("Puntoret"); ;
                 columns.Bound(c => c.Email).Width(100).Title("Qyteti"); ;
                 columns.Bound(c => c.Company.Name).Width(100).Title("Compania"); ;

                 columns.Command(c => c.Edit()).Width(100);
                 columns.Command(c => c.Destroy()).Width(100);
             })
             .ToolBar(toolbar =>
             {
                 toolbar.Create();
                 toolbar.Excel();
                 toolbar.Pdf();
             })
             .Pdf(pdf => pdf.ProxyURL(Url.Action("Excel_Export_Save", "Grid")))
             .Excel(excel => excel.ProxyURL(Url.Action("Excel_Export_Save", "Grid")))
             .Editable(editable => editable.Mode(GridEditMode.PopUp))
             .Pageable()
             .Sortable()
             .Groupable(g => g.ShowFooter(false))
             .Filterable()
    )

